html,
body {
  background-color: #9e015d;
  overflow-x: hidden;
}

/* HEADER BEGIN */
.header {
  width: 1680px;
  height: 60px;
  margin-right: 35px;
  margin-left: 35px;
  justify-content: center;
  padding: 5px;
  display: flex;
}
.header img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  float: left;
}
.header_icon {
  width: 100%;
  height: 30px;
  display: inline-block;
  margin: auto;
}
.header_icon img {
  max-width: 100%;
  max-height: 100%;
  display: inline;
}
.header_icon a {
  display: inline;
  cursor: pointer;
}
.header_icon a:hover {
  background-image: linear-gradient(to right, #37a79f, #c77314);
}
.header_button {
  width: 160px;
  height: 100%;
  cursor: pointer;
  background-color: white;
  display: block;
  margin-right: 10px;
}

.button {
  width: 100%;
  height: 100%;
  border: none;
}
.button.white {
  margin-left: 10px;
  background-color: white;
}
.header_button .button.white:hover {
  background-color: #dadada;
}
.button.orange {
  background-color: orange;
}
.button.orange:focus {
  outline: 0;
  background-color: #ff6600;
}

.header_button .button.orange:hover {
  background-color: #ff6600;
  color: black;
}
.button.seagreen {
  background-color: lightseagreen;
}
.button.seagreen:focus {
  outline: 0;
  background-color: #007ef3;
}
.header_button .button.seagreen:hover {
  background-color: #007ef3;
  color: black;
}
.header_search {
  width: 800px;
  height: 100%;
  float: left;
  display: block;
  background-color: white;
}

.header_search input {
  width: 650px;
  height: 100%;
  padding-left: 10px;
  float: left;
  font-size: 18px;
  display: block;
  border: none;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
  font-weight: 400;
  line-height: 1.6;
  color: #495057;
  background-clip: border-box;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.header_search input:hover {
  background-color: #dadada;
}
.header_search select {
  width: 150px;
  height: 100%;
  float: left;
  font-size: 18px;
  display: block;
  margin: auto;
  background-color: white;
  border: none;
}
.header_search select:hover {
  background-color: #dadada;
}

/* Log in modal */
.remember {
  color: black;
}
.remember input {
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 5px;
}

.login_btn {
  color: black;
  background-color: #ffc312;
  width: 100px;
}

.login_btn:hover {
  color: black;
  background-color: #fab700;
}

.links {
  color: black;
}

.links a {
  margin-left: 10px;
}
/* log in modal end */
/* Sell tab starts */
.sell_tab {
  background-color: lightseagreen;
  width: 75%;
  max-height: 100%;
  position: absolute;
  right: 25px;
  padding-bottom: 30px;
  overflow-x: hidden;
  overflow-y: auto;
  display: none;
}
.uploadImages {
  display: none;
  margin: 30px;
  justify-content: center;
}
.uploadImages img {
  float: none;
  margin: auto;
  opacity: 70%;
  border-radius: 10px;
}
.uploadImages .custom-file {
  width: 80%;
  display: block;
  margin: auto;
}
.imagesCarousel {
  display: block;
  margin-top: 30px;
  margin-left: 15px;
}
.imagesCarousel img {
  border-radius: 10px;
}
.smaller_carousel {
  display: block;
  margin-top: 20px;
  text-align: center;
}
.smaller_carousel-item {
  display: inline-block;
  margin-left: 4px;
  margin-right: 4px;
  width: 30%;
}
.itemDetail {
  width: 100%;
  height: 40px;
  display: block;
  margin: 0px;
  padding: 0px;
  margin-left: 35px;
  margin-top: 20px;
}
.itemDetail select {
  display: inline-block;
  width: 50%;
  height: 100%;
  border: none;
  background-color: white;
  text-align: right;
  outline: 1px inset #fff;
  outline-offset: -1px;
}
.itemDetail input {
  display: inline-block;
  text-align: left;
  width: 50%;
  height: 100%;
}
.itemDetail p {
  display: inline-block;
  text-align: left;
  height: 100%;
}
.itemInfo {
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 70px;
}
.itemInfo .row {
  align-content: center;
  /* justify-content: center; */
  margin-top: 5px;
}
.itemInfo hr {
  background-color: rgb(226, 223, 223);
  height: 1px;
  margin: 0px;
}
/* radio check button color */
.radio_colorize input[type="radio"]:after {
  width: 17px;
  height: 17px;
  border-radius: 15px;
  left: -1px;
  position: relative;
  background-color: red;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 3px solid white;
}

.radio_colorize input[type="radio"]:checked:after {
  width: 17px;
  height: 17px;
  border-radius: 15px;
  left: -1px;
  position: relative;
  background-color: green;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 3px solid white;
}
/* radio check button end */
.checked {
  color: #1d81df;
}
.description {
  width: 100%;
  height: 100%;
  background-color: lightseagreen;
  color: blue;
  border-radius: 10px;
  border: none;
  margin-bottom: 15px;
}
.post_button {
  width: 150px;
  height: 50px;
  background-color: orange;
  margin-top: 20px;
}
/* Sell tab end */
/* HEADER END */
