html,
body {
  background-color: #9e015d;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
}
.header {
  width: 100%;
  height: 44px;
  margin-right: 35px;
  margin-left: 35px;
  justify-content: center;
  display: flex;
}

/* hamburger nav/my account */

#menuToggle {
  display: block;
  padding: 10px 0 0 5px;
  top: 10px;
  left: 10px;

  z-index: 4;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: #232323;

  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: #9e015d;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;

  cursor: pointer;

  opacity: 0;
  z-index: 5;

  -webkit-touch-callout: none;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: white;
  border-radius: 3px;

  z-index: 4;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#hamburger-menu {
  position: absolute;
  z-index: 3;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;

  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.4s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#hamburger-menu li {
  padding: 10px 0;
  font-size: 18px;
}

#menuToggle input:checked ~ ul {
  transform: none;
}
/* ----- /hamburger ----- */

.header_icon {
  width: 100%;
  height: 30px;
  display: inline-block;
  margin: auto;
}
.header_icon img {
  max-height: 100%;
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
}
.header_icon a,
.header_button a {
  display: inline;
  cursor: pointer;
}
.header_button img {
  width: 100%;
  height: 100%;
  text-align: center;
}
.header_icon a:hover {
  background-image: linear-gradient(to right, #37a79f, #c77314);
}
.header_button {
  width: 112px;
  height: 100%;
  cursor: pointer;
  background-color: white;
  display: block;
  margin-right: 10px;
}

.header_button_cart {
  width: 144px;
  height: 100%;
  cursor: pointer;
  background-color: white;
  display: block;
  margin-right: 10px;
}
.header .button {
  width: 100%;
  height: 100%;
  border: none;
}
.header .button.white {
  width: 144px;
}
.header_button .button.white:hover {
  background-color: #dadada;
}
.header .button.orange {
  background-color: orange;
}
.header .button.orange:focus {
  outline: 0;
  background-color: #ff6600;
}

.header_button .button.orange:hover {
  background-color: #ff6600;
  color: black;
}
.header .button.seagreen {
  background-color: lightseagreen;
}
.header .button.seagreen:focus {
  outline: 0;
  background-color: #007ef3;
}
.header_button .button.seagreen:hover {
  background-color: #007ef3;
  color: black;
}
.header_search {
  width: 80%;
  height: 100%;
  float: left;
  display: inline-flex;
  background-color: white;
}

.header_search input {
  width: 80%;
  height: 100%;
  padding-left: 10px;
  float: left;
  font-size: 18px;
  display: inline-flex;
  border: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: 400;
  line-height: 1.6;
  color: #495057;
  background-clip: border-box;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.header_search input:hover {
  background-color: #dadada;
}
.header_search select {
  max-width: 20%;
  height: 100%;
  float: right;
  font-size: 15px;
  display: inline-flex;
  margin: auto;
  background-color: white;
  background-clip: border-box;
  border: none;
  opacity: 50%;
}
.header_search select:hover {
  background-color: #dadada;
}

.remember {
  color: black;
}
.remember input {
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 5px;
}

.login_btn {
  color: black;
  background-color: #ffc312;
  width: 100px;
}

.login_btn:hover {
  color: black;
  background-color: #fab700;
}

.links {
  color: black;
}

.links a {
  margin-left: 10px;
}

.sell_tab {
  background-color: lightseagreen;
  width: 75%;
  max-height: 100%;
  right: 30px;
  padding-bottom: 30px;
  overflow-x: hidden;
  overflow-y: auto;
  display: none;
  z-index: 3;
  position: absolute;
}
.uploadImages {
  display: none;
  margin: 30px;
  justify-content: center;
}
.uploadImages img {
  float: none;
  margin: auto;
  opacity: 70%;
  border-radius: 10px;
}
.uploadImages .custom-file {
  width: 80%;
  display: block;
  margin: auto;
}

.enlarge_imgage {
  display: flex;
  position: relative;
  width: 400px;
  height: 300px;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 10px;
  margin-left: 30px;
  margin-right: 10px;
  margin-top: 30px;
  margin-bottom: 20px;
}
.mySlides {
  display: none;
  width: 100%;
  height: 100%;
}
.mySlides img {
  display: block;
  width: 100%;
  height: 100%;
  margin: auto;
}
.cursor {
  cursor: pointer;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  max-width: 30px;
  max-height: 30px;
  padding: 5px;
  margin-top: -11%;
  color: white;
  font-size: 15px;
  transition: 0.6s ease;
  border-radius: 15px;
  user-select: none;
  -webkit-user-select: none;
  background-color: rgb(168, 168, 168);
  text-align: center;
}

.next {
  right: 10px;
  border-radius: 15px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.thumbnail_img {
  display: flex;
  margin-left: 20px;
  margin-right: 10px;
  width: 100%;
  max-height: 70px;
  justify-content: center;
}
.thumbnail_img img {
  display: block;
  border-radius: 10px;
  margin-left: 10px;
  width: 26%;
}
.thumbnail {
  opacity: 0.6;
}

.active,
.container .thumbnail:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.itemDetail-fixed-postion {
  width: 100%;
  max-height: 100%;
  margin-top: 50px;
  position: absolute;
  text-align: left;
}

.itemDetail {
  width: 100%;
  height: 40px;
  display: flex;
  margin-left: 35px;
  margin-top: 5px;
}
.itemDetail .radio {
  display: inline-block;
  width: 60%;
  background-color: white;
  text-align: center;
}
.itemDetail select {
  display: inline-flex;
  width: 60%;
  height: 100%;
  border: none;
  background-color: white;
  color: grey;
  text-align: right;
  outline: 1px inset #fff;
  outline-offset: -1px;
}
.itemDetail input {
  width: 60%;
  height: 100%;
  border: none;
  background-color: white;
}

.itemDetail p {
  width: 60px;
  max-height: 100%;
  background-color: white;
  padding: 5px;
  margin-right: 5px;
  margin-bottom: 0px;
  display: inline-block;
}

.checkboxgroup {
  display: inline-block;
  width: 60%;
}
.checkboxgroup label {
  display: block;
}
.checkboxgroup > .row {
  margin-left: -5px;
  margin-right: -5px;
  justify-content: center;
}
.radio p {
  font-size: 14px;
  max-width: 100%;
  text-align: center;
  opacity: 0.5;
}
.checkboxgroup > .row .col-2 {
  width: 20%;
  padding: 0%;
  display: block;
}
.itemInfo {
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 70px;
}
.itemInfo .row {
  align-content: center;
  margin-top: 5px;
}
.itemInfo hr {
  background-color: rgb(226, 223, 223);
  height: 1px;
  margin: 0px;
}
/* .radio_colorize input[type="radio"]:after {
  width: 17px;
  height: 17px;
  border-radius: 15px;
  left: -1px;
  position: relative;
  background-color: red;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 3px solid white;
}

.radio_colorize input[type="radio"]:checked:after {
  width: 17px;
  height: 17px;
  border-radius: 15px;
  left: -1px;
  position: relative;
  background-color: green;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 3px solid white;
} */

.checked {
  color: #1d81df;
}
.description {
  width: 100%;
  height: 100%;
  background-color: transparent;
  color: blue;
  border-radius: 10px;
  border: none;
  margin-bottom: 15px;
}
.post_button {
  width: 150px;
  height: 50px;
  background-color: orange;
  margin-top: 20px;
  margin-bottom: 20px;
}
.col-sm button {
  width: 100%;
  color: grey;
}

.dropdown_button_category {
  border: none;
  background-color: transparent;
  width: 80%;
  text-align: left;
}
.itemChosen {
  padding: 3px;
  text-align: left;
  display: inline-block;
  background-color: white;
  color: grey;
  width: 80%;
  height: 30px;
}
#itemDemension {
  display: none;
}
