/* Import fonts from google fonts    
links .dscfsdjj a{
    font siz : 0.9em
    text-decoration: none;
    color:white
}
#45ccb8  roboto font  !import*/
/* @import url('https://fonts.googleapis.com/css?family=Anton|Gugi|Lato|Roboto|Sofia&display=swap'); */
form button:hover {
    background: #ccc;
}

#postDescription{
    height: 400px;
}
.rightCardSubmit{
    margin-top: 20px;
    width: 100px
}
.imageSubmit{
    margin-right: 5px;
}
form ol {
    /* background: #eee; */
    display:flex;
    flex-direction:column; 
    align-content:space-around;
    justify-content: space-around;
    margin-bottom: 10px;
    margin-top:10px;
    /* list-style-type: none; */
    /* border: 1px solid black; */
}
form img {
    /* max-height: 500px; */
    
    height: 70px;
    width: 70px;
   
}
form img:hover {
    position:relative;
    max-height: 200px;
    top:-5px;
    left:100px;
    width:300px;
    height:auto;
    display:block;
    z-index:999;
}
/* form img:hover {
    background: #ccc;
} */

.rightCard{
    display:flex;
    margin-top: 5px;
    margin-bottom: 5px;
    flex-direction: column;
    align-content:space-between;
    
    /* align-items: flex-start ; */
}



                   

                    
                  