html,
body {
  background-color: #9e015d;
  overflow-x: hidden;
  height: 100%;
}

span .tab {
  padding-left: 4px;
}
.content {
  min-height: 100%;
  display: block;
  justify-content: center;
  margin: auto;
  padding: 0px 60px 0px 60px;
  overflow: auto;
  clear: both;
}
.breadcrumb_container {
  max-width: 80%;
}
ul.bcrumb {
  padding: 10px 16px;
  list-style: none;
}

ul.bcrumb li {
  display: inline;
  font-size: 15px;
}

ul.bcrumb li + li:before {
  padding: 8px;
  color: white;
  content: ">>";
}

ul.bcrumb li a {
  color: white;
  text-decoration: none;
}

ul.bcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

.searchingItem {
  font-size: 22px;
  display: block;
  margin: auto;
  color: white;
  text-align: center;
}

.itemsContainer {
  width: 100%;
  max-height: 80%;
  border-radius: 10px;
  background-color: #d4d4d4;
}
.item {
  padding: 20px;
  display: flex;
  width: 100%;
}
.itemsContainer .col-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.itemsContainer .itemImage {
  display: flex;
  width: 85%;
  height: 85%;
  background-color: white;
  border-radius: 10px;
  vertical-align: middle;
  text-align: center;
}
.itemImage img {
  display: block;
  border: 1px dashed #058dfd;
  margin: auto;
  max-width: 85%;
  max-height: 85%;
  align-items: center;
  border-radius: 10px;
}
.item .col-10 {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 90%;
}
.item .col-10 .itemInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  width: 100%;
  border-radius: 10px;
  background-color: white;
}

.item .col-4.rating {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 150px;
  height: 150px;
  border-left: 1px solid grey;
}
.item .col-4.rating img {
  display: flex;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  justify-content: center;
  align-items: center;
}
