@import url('https://fonts.googleapis.com/css?family=Lato|Roboto&display=swap');

* {
    margin:0;
    padding:0;
    font-family:sans-serif;
}

.container {
    width:100%;
    height:100%;
    background: white;
}
.menu ul {
    display:inline-flex;
    margin:25px;
}
.menu ul li {
    list-style:none;
    margin:0 20px;
    color:#b2b1b1;
    cursor:pointer;
}

ul {
    list-style-type: none;
}

h1 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.3rem;
}

button.btn {
    border:none;
    border-radius:2rem;
    padding:1rem 3rem;
    font-size:1rem;
    cursor:pointer;
}
main .site-title .btn:hover{
    background:transparent;
    border:1px solid white;
    color: white;
}

/* ----------- MAIN CONTENT ----------- */

/* SITE TITLE */

main .site-title {
    background: url("../assets/istockphoto-805119394-612x612.jpg");
    background-size:cover;
    height:110vh;
    display:flex;
    justify-content:center;
}

main .site-title .site-background {
    padding-top: 10rem;
    text-align:center;
    color: var(--white);
}

main .site-title h1, h3 {
    margin: .3rem;
}

main .site-title .btn {
    margin:1.8rem;
    background: white;
}

/* ----- Carousel ----- */

.card-deck {
    justify-content: center;
}

/* ----- Footer ----- */

footer.footer{
    height: 100%;
    background: white;
    position: relative;
}

footer.footer .container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

footer.footer .container > div{
    flex-grow: 1;
    flex-basis: 0;
    padding: 3rem .9rem;
}

footer.footer .container h2{
    color: white;
}

footer.footer .newsletter .form-element{
    background: white;
    display: inline-block;
}

footer.footer .newsletter .form-element input{
    padding: .5rem .7rem;
    border: none;
    background: transparent;
    color: white;
    font-size: 1rem;
    width: 74%;
}

footer.footer .newsletter .form-element span{
    background: white;
    padding: .5rem .7rem;
    cursor: pointer;
}

footer.footer .instagram div > img{
    display: inline-block;
    width: 25%;
    height: 50%;
    margin: .3rem .4rem;
}

footer.footer .follow div i{
    color: white;
    padding: 0 .4rem;
}