
.topBar{
    display:flex;
    margin-top: 20px;
    justify-content:space-around; 
    align-items: flex-start ;
                        
}
.massive{
    width: 90px;
    height: 40px;
}
form label:hover, form button:hover {
    background: #ccc;
}

#postDescription{
    height: 400px;
}
.rightCardSubmit{
    margin-top: 20px;
    width: 100px
}
.imageSubmit{
    margin-right: 5px;
}
form img {
    max-height: 500px;
   
}

.rightCard{
    display:flex;
    margin-top: 5px;
    margin-bottom: 5px;
    flex-direction: column;
    align-content:space-between;
    
    /* align-items: flex-start ; */
}



                   

                    
                  